@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,500,600&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700&subset=cyrillic,cyrillic-ext');
body{
    background: #f9f9f9;
    box-sizing: border-box;
}
.container{
    padding-left: 0;
    padding-right: 0;
}
.container-md{
    margin: 5% 0;
}
:root {
    --font-family: 'Cormorant Garamond', serif;
}
h2{
    font-family: 'Old Standard TT', serif;
    color: #f5f5f5;
    background-color: rgba(61, 61, 61, 0.701961);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 40px;
}
h6{
    font-family: 'Old Standard TT', serif;
    color: #000;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 36px;
}

/*HEADER*/
header {
    font-family: var(--font-family);
}

#mainNav {
    padding-top: 1%;
    background: rgba(21, 21, 21, 0.75);
}

.navigation-header {
    padding-left: 1rem;
}

.navbar-brand {
    position: relative;
}

.navbar-brand span {
    position: absolute;
    margin-left: 2rem;
    margin-top: 1rem;
    font-weight: bold;
}

.fa-camera-retro {
    font-size: 50px;
}

.fa-camera-retro:hover {
    opacity: 0.8;
}

.navbar-brand span:hover {
    opacity: 0.8;
}

.navbar-collapse {
    justify-content: space-evenly;
}

.navbar-dark .navbar-nav .nav-item > a:hover {
    color: #28b8d8;
    opacity: 0.8;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f5f5f5!important;
}

.navbar-nav {
    padding-left: 7rem;
}

.navbar-nav > li > a {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-text {
    border-left: 1px solid grey;
    padding-left: 7px;
}

.fab {
    padding-left: 9px;
    font-size: 17px;
}

.fa-facebook-f {
    padding-left: 1rem;
}

.navbar-dark .navbar-text a:hover {
    color: #28b8d8;
    opacity: 0.8;
}



@media (max-width: 992px) {
    .navbar-brand span {
        margin-left: 1rem;
    }
    .navbar-brand span {
        margin-top: 0;
    }

    .navbar-nav {
        padding-left: 4rem;
    }
    .navbar-nav > li > a {
        font-size: 15px;
    }
    .fab {
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    .navbar-nav {
        padding-left: 4rem;
        text-align: center;
    }
    .navbar-brand span {
        margin-top: 0;
    }
    .navbar-dark .navbar-brand {
        padding-left: 1rem;
    }
    .navbar-toggler {
        margin-right: 1rem;
    }
    .navbar-text {
        display: none;
    }
}
@media (max-width: 576px) {
    #mainNav {
        padding: 5px 0;
    }
    .navbar-dark .navbar-brand {
        padding-left: 1rem;
    }
    .navbar-brand span {
        margin-top: 0;
    }
    .navbar-toggler {
        margin-right: 1rem;
    }
    .navbar-text {
        display: none;
    }
}



/* END HEADER */

/* CAROUSEL*/

.carousel-inner {
    width: 100%;
    height: 100vh;
}

.carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
}
.carousel-item h2 {
    font-family: 'Cormorant Garamond', serif;
    color: #f5f5f5;
    background-color: rgba(61, 61, 61, 0.701961);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 40px;
    text-transform: uppercase;
    display: inline-block;
}


.first-slide {
    background-image: url("../img/carosel-girl.jpg");
}

.second-slide {
    background-image: url("../img/personal/ind16.jpg");
}

.third-slide {
    background-image: url("../img/carousel-girl-last.jpg");

}

.carousel-caption {
    padding-bottom: 8rem;
    right: 25%;
    left: 25%;
}


@media (max-width: 992px) {
    .carousel-item h2 {
        font-size: 35px;
    }
    .carousel-inner {
        height: 600px;
    }
}

@media (max-width: 768px) {
    .carousel-inner {
        height: 500px;
    }
}

@media (max-width: 576px) {
    .carousel-inner {
        height: 400px;
    }
}

/* End Carousel*/

/* About me */
#about-me {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#about-me > h1 {
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: 32px;
    line-height: 35px;
    color: #444;
}

#about-me > p {
    font-family: 'Cormorant Garamond', serif;
    line-height: 22px;
    margin-bottom: 15px;
    text-align: center;
    color: #666;
    font-size: 20px;
    font-weight: normal;
    margin: 2rem 0;
}

.photo h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.photo h3:after {
    display: inline-block;
    content: "";
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    height: 4px;
    position: absolute;
    width: 80px;
    margin-top: 8px;
    margin-left: 19px;
}

/* personal card*/

.team-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
    background-color: #ccc;
}

.team-card:hover {
    box-shadow: 0 20px 20px rgba(0, 0, 0, .2);
}

.team-card .img-box {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.team-card .img-box img {
    width: 100%;
    display: block;

}

.team-card:hover .img-box {
    opacity: 0.5;
}

.team-card:hover .team-content {
    bottom: 0;
}

.team-card .team-content {
    position: absolute;
    width: 100%;
    bottom: -100%;
    padding: 60px 20px 20px 20px;
    text-align: center;
    box-sizing: border-box;
    transition: 0.5s;
    background: linear-gradient(0deg, #28b8d8, transparent);
}


.team-card .team-content h1 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 20px;
}

.team-card .team-content h2 span {
    color: #ffeb3b;
    font-size: 16px;
}

.team-card .team-content p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
}

.team-card .team-content ul {
    display: flex;
    margin: 20px 0 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.team-card .team-content ul li {
    list-style: none;
}

.team-card .team-content ul li a {
    color: #fff;
    padding: 0 10px;
    font-size: 18px;
    transition: 0.5s;
}
/* end personal photo-card*/

.skills {
    margin-top: 3rem;
}

.service {
    display: grid;
    grid-template-rows: 3;
    grid-template-columns: 15% 85%;
    max-width: 100%;
}

.text > h4 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
}

.text > p {
    color: #666;
    text-align: justify;
}

.icon {
    color: #28b8d8;
    font-size: 40px;
}
.icon > a{
    text-decoration: none;
    color: #28b8d8;
}

.divide {
    width: 100%;
    height: 20px;
}

@media (max-width: 576px) {
    .photo h3 {
        text-transform: uppercase;
    }
    .photo h3::after {
        width: 0;
    }
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    .text > h4 {
        text-align: center;
    }
    .icon {
        margin: auto 0;
    }
}

@media(max-width: 768px) {
    .photo h3 {
        text-align: center;
    }
    .icon {
        margin: auto auto;
    }
}

@media (max-width: 992px) {
    .icon {
        font-size: 30px;
    }
    .fa-camera-retro {
        font-size: 30px;
    }
}
/* End about me */

/* form */
form {
    margin-bottom: 3rem;
}

.form-section > h5 {
    font-family: 'Cormorant Garamond', serif;
    color: #444;
    font-weight: 700;
    text-align: center;
}

.form-section p {
    color: #666;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.form-group {
    margin-top: 1rem;
}

.label-form > label {
    color: #666;
    font-size: 18px;
    font-weight: normal;
}

.btn {
    padding: 0.375rem 4.75rem;
    font-size: 1.3rem;
}
.btn-primary{
    background-color: #28b8d8;
    border-color: #28b8d8;
}
@media (max-width: 576px) {
    .col {
        flex-basis: auto;
    }
    .form-group {
        margin: 1rem;
    }

}

/* End form */

/* Contacts */
#contacts {
    display: flex;
    justify-content: space-around;
    padding: 4rem 0;
    line-height: 2;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

#contacts ul{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#contacts ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);
    background-color: #ccc;
}
#contacts ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
    display: flex!important;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
}
#contacts ul li span{
    box-shadow: -1px 1px 1px rgba(0,0,0,.1);
}
#contacts ul li:hover span:nth-child(5) {
    transform: translate(40px,-40px);
    opacity: 1;
}
#contacts ul li:hover span:nth-child(4) {
    transform: translate(30px,-30px);
    opacity: .8;
}
#contacts ul li:hover span:nth-child(3) {
    transform: translate(20px,-20px);
    opacity: .6;
}
#contacts ul li:hover span:nth-child(2) {
    transform: translate(10px,-10px);
    opacity: .4;
}
#contacts ul li:hover span:nth-child(1) {
    transform: translate(0,0);
    opacity: .2;
}
#contacts ul li:nth-child(1) span {
    background-color: #3b5999;
}
#contacts ul li:nth-child(2) span {
    background-color: #55acee;
}
#contacts ul li:nth-child(3) span {
    background-color: #dd4b39;
}
#contacts ul li:nth-child(4) span {
    background-color: #e4405f;
}

@media (max-width: 500px) {
    #contacts ul li {
        margin: 7px 25px;
    }
}

/* End contacts */

/* footer*/
.sub-footer {
    background-color: #1e1e1e;
}

footer {
    color: #cacaca;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p > a {
    color: #cacaca;
    font-weight: 700;
}

footer p > a:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
    color: #28b8d8;
}

footer > a {
    font-size: 45px;
    color: #494949;
}

footer > a:hover {
    opacity: 0.8;
    color: #28b8d8;
}

@media(max-width: 576px) {
    footer {
        padding: 6px;
    }
}
/* End footer*/

/* Blog.html*/

.bg-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/bg-blog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    box-shadow: 1px 2px 2px #28b8d8;
}
.blog-wrapper{
    background: #fff;
    margin: 5% 0;
    padding: 2%;
    border: 1px solid #e5e5e5;
    font-family: var(--font-family);

}
.blog-wrapper .blog-details{
    text-align: center;
}
.blog-wrapper .blog-details h6{
    font-size: 24px;
    text-transform: uppercase;
}
.blog-wrapper .blog-details p{
    font-size: 18px;
    color: #ccc;
    text-align: center;
}
.blog-wrapper .blog-text p{
    text-align: justify;
}

.imgBox{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin-bottom: 3%;
}
.imgBox .box {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    background-color: #fff;

}
.imgBox .box img{
    position: relative;
    width: 100%;
}
@media(max-width: 625px) {
    .imgBox{
        grid-template-columns: auto auto;
    }
}
/* Modal img*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    display: block;
    width: 80%;
    border-radius: 5px;
    transition: 0.3s;
    margin: 0 auto;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 5rem;
    right: 3rem;
    color: #f1f1f1;
    font-size: 70px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
    .close{
        top: 2rem;
        right: 2rem;
        color: #fff;
    }
}
@media (min-width: 701px) and (max-width: 993px) {
    .close{
        top: 4rem;
        right: 2rem;
        color: #fff;
    }
}
/* End Modal img */

/* End Blog.html*/

/* individual.html*/

.gallery-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}
.gallery-column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.gallery-column img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
}

@media screen and (max-width: 800px) {
    .gallery-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .gallery-column{
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
/* End individual.html*/